{% extends "base.html" %}
{% load static %}

{% block title %}Delete Bus - School Bus Management{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Delete Bus</h6>
            </div>
            <div class="card-body">
                <p>Are you sure you want to delete the bus "{{ object.bus_number }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'core:manage_buses' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}